.gameModal {
  background-color: blanchedalmond;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  .gameContainer {
    display: flex;
    flex-wrap: wrap;
    height: 90%;
  }
}

.strategy-game-author-text {
  z-index: 1;
}

.exit-game-btn-box {
  z-index: 2;
  padding-top: 30px;
}
.leftGameSide {
  width: 30%;
  padding: 10px;
  height: 90%;
}

.leftUpperBox {
  height: 300px;
  border: solid 2px brown;
  margin-bottom: 10px;
  border-radius: $averageBorderRadius;
  overflow: overlay;
  .tutorialBoxTextField {
    padding: 5px;
    color: black;
    user-select: none;
    font: {
      family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", "Geneva", "Verdana", "sans-serif";
      weight: 500;
    }
  }
}

// @media only screen and (min-width: 701px) {
.rightGameSide {
  width: 68%;
  border: solid 3px brown;
  margin-top: 10px;
  border-radius: $averageBorderRadius;
  height: 410px;
}
// }

@media only screen and (max-width: 700px), (max-height: 550px) {
  .gameModal {
    .gameContainer {

      height: 90%;
    }
  }
  .exit-game-btn-box {
    padding-top: 10px;
  }
  .rightGameSide {
    width: 68%;
    border: solid 3px brown;
    margin-top: 10px;
    border-radius: $averageBorderRadius;
    height: 80%;
  }

  .leftUpperBox {
    height: 60%;
    border: solid 2px brown;
    margin-bottom: 10px;
    border-radius: $averageBorderRadius;
    overflow: overlay;
    .tutorialBoxTextField {
      padding: 2px;
      color: black;
      user-select: none;
      font-size: 10px;
      font: {
        family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", "Geneva", "Verdana", "sans-serif";
        weight: 200;
      }
    }
  }
}
