html,
body {
  height: 100%;
  margin: 0;
  background-color: rgb(110, 69, 22);
}

#modal-root {
  position: absolute;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

#backdrop-root {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

#root {
  height: 100%;
}

// @media only screen and (min-width: 701px) {
  .mainPage {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .containerModal {
      min-height: 530px;
      min-width: 700px;
      max-width: 700px;
      max-height: 530px;
      width: 700px;
      height: 530px;
      margin: auto;
      border-radius: $mainBorder;
    }
  }
// }

@media only screen and (max-width: 700px), (max-height: 550px) {
  .mainPage {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .containerModal {
      width: 99%;
      height: 99%;
      min-width: 500px;
      min-height: 300px;
      margin: auto;
      border-radius: $mainBorder;
    }
  }
}
