.purchase-box {
  background-color: rgb(97, 71, 40);
  cursor: pointer;
  border-radius: 5px;
  min-height: 85px;
  box-shadow: 2px 2px 2px 1px brown;
}

.purchase-box:hover {
  background-color: rgb(136, 117, 55);
}

.purchase-box span {
  color: white;
  font-size: 12px;
}

.purchase-title {
  color: white;
  font-size: 12px;
}

.errorMessage {
  background-color: rgba(240, 162, 18, 0.671);
  padding: 5px;
  text-align: center;
  border: 2px solid rgba(99, 66, 4, 0.281);
  border-radius: 5px;
  transition: ease-in-out;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(240, 162, 18, 0.671);
  border-radius: 10px;
}

@media only screen and (max-width: 700px), (max-height: 550px) {
  .purchase-title {
    font-size: 10px;
  }
  .purchase-box span {
    font-size: 10px;
  }
  .purchase-box {
    min-height: 60px;
  }
}
